.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.rights {
  display: flex;
  align-items: flex-end;
}

.rights h2 {
  margin-bottom: 0px;
  margin-right: 8px;
}
