.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1vh;
}

.rights {
  display: flex;
  align-items: flex-end;
}

.rights h4 {
  margin-bottom: 0px;
  margin-right: 8px;
}


.socialLinks a{
  margin-left: .5em;
}