body {
  margin: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Proza Libre", sans-serif;
}

.app {
  display: flex;
  justify-content: center;
}

.columnSpace {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerBackground {
  background-image: url("../../public/images/wave.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}
