.openStyle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 25vw;
  background-color: rgba(125,194,255,0.5);
}

.navFirstL {
  margin-top: 4vh;
  margin-right: 1em;
}

.closedStyle {
  display: none;
}
