.openStyle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 40vw;
  background-color: rgba(125,194,255,0.5);
}

.navFirstL {
  margin-top: 4vh;
  margin-right: 1em;
}

.closedStyle {
  display: none;
}

.menuLink {
  font-weight: 200;
  font-size: 1.5em;
  color: #ef4565;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}